<div class="container" *ngIf="user">
  <div class="card">
    <div class="card-header">
      <button class="btn btn-dark" [routerLink]="['/']">Back</button>
    </div>
    <div class="row">
      <div class="col-12 image">
        <img
          class="mx-auto d-block"
          src="https://www.port.ac.uk/-/media/images/component---600x600---inset-content---image-button/promos---inset-content---sort-folder/about-us/heads-of-service-and-key-people/placeholder-person.ashx?h=600&w=600&la=en&hash=3255BE46DF761C4570F3F17AB6D8E8FBF3ED91DC"
          alt=""
        />
        <h3 class="text-center">
          {{ user.name }}
          <small class="text-muted">{{ user.company.name }}</small>
        </h3>
        <p class="text-center">{{ user.company.catchPhrase }}</p>
      </div>
    </div>

    <div class="row mx-auto d-block">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">{{ user.phone }}</li>
        <li class="list-group-item">{{ user.email }}</li>
        <li class="list-group-item">
          <a [href]="'https://' + user.website" target="_blank">{{
            user.website
          }}</a>
        </li>
      </ul>
    </div>

    <div class="row map-wrapper">
      <div class="col-12">
        <agm-map
          class="mx-auto d-block"
          [latitude]="lat"
          [zoom]="zoom"
          [longitude]="lng"
        >
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
