:host {
  .card {
    padding: 0 0 3rem 0;
    .image {
      margin-top: 2rem;
      img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
        margin: auto;
      }
    }

    .map-wrapper {
      margin-top: 2rem;
      agm-map {
        height: 300px;
        width: 500px;
      }
    }
  }
}
