<div class="container container-sm">
  <table class="table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Empresa</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr class="user" *ngFor="let item of users" (click)="open(item.id)">
        <td>{{ item.company.name }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
